@import '../../../styles/vars';

.filterform {
  padding: 1em;

  .filterform-select {
    width: 15em;
    padding: 1.5em 2em;
    background-color: var(--theme-elements);
    border: none;
    color: var(--theme-text);
    border-radius: 0.5em;
    font-family: $font-family;
  }
}
