@import '../../styles/vars';

.detail {
  padding: 2.5em 2em;

  .detail-button-container {
    padding-bottom: 1em; 

    .detail-button {
      background-color: var(--theme-elements);
      color: var(--theme-text);
      border: none;
      padding: 0.5em 2em;

      i {
        margin-right: 0.5em;
      }
    }
  }

  .detail-data {

    .detail-data-flag {
      padding: 3em 0;
      width: 100%;
    }

    .detail-data-name {
      font-size: $font-size-detail;
      font-weight: $font-weight-bold;
      color: var(--theme-text);
    }

    .detail-data-container {
      padding: 1.5em 0;
      color: var(--theme-text);

      .detail-data-single {
        display: flex;
        padding: 0.5em 0;

        .detail-data-title {
          margin-right: 0.25em;
          font-weight: $font-weight-medium;
        }

        .detail-data-number {

        }

        .language {
          margin: 0 0.25em 0 0;
        }
      }

      .third {
        display: flex;
        flex-direction: column;

        .detail-data-title {
        }

        .detail-data-list {
          display: flex;
          padding: 1.5em 0;
          flex-wrap: wrap;

          .detail-data-list-single {
            margin: 0.5em 0;
            margin-right: 0.925em;

            .detail-data-list-single-button {
              width: 7em;
              padding: 0.5em 0;
              background-color: var(--theme-elements);
              color: var(--theme-text);
              border: none;
              border-radius: 0.25em;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .detail {
    padding: 5em;

    .detail-data {
      display: flex;

      .detail-data-left {
        width: 50%;

        .detail-data-flag {
          width: 80%;
        }
      }

      .detail-data-right {
        width: 50%;
        padding-top: 6em;

        .detail-data-center {
          display: flex;
          width: 100%;

          .detail-data-container {
            width: 50%;
          }
        }
      }
    }
  }
}
