// Light theme
$light-text: hsl(200, 15%, 8%);
$light-input: hsl(0, 0%, 52%);
$light-background: hsl(0, 0%, 98%);
$light-elements: hsl(0, 0%, 100%);

// Dark theme
$dark-text: hsl(0, 0%, 100%);
$dark-input: hsl(209, 23%, 22%);
$dark-background: hsl(207, 26%, 17%);
$dark-elements: hsl(209, 23%, 22%);

// Fonts
$font-size-homepage: 14px;
$font-size-detail: 16px;
$font-family: 'Nunito Sans', sans-serif;
$font-weight-light: 300;
$font-weight-medium: 600;
$font-weight-bold: 800;
