.main {
  background-color: var(--theme-background);
  color: var(--theme-text);
}

@media screen and (min-width: 1440px) {
  .main {
    padding: 2em 5em;

    .main-forms {
      display: flex;
      justify-content: space-between;
    }
  }
}
